body {
    background-color: #f0f0f0;
    color: #000000;
    font-family: Jost, monospace;
    margin: 0;
    min-height: 100vh;
}

.header {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topnav {   /* class for navigation bar */
    overflow: hidden;
    background-color: #333;
    margin-top: 0;
    margin-bottom: 0;
}

.topnav img {   /* for the logo only */
    max-width: 95%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.topnav a.tabs, a.icon { /* links in the topnav class */
    float: left;
    display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.1s, color 0.1s;  /* for transition effect */
}

.topnav a.active {  /* shows that this tab is currently active/selected */
    float: left;
    display: block;
    background-color: #E5D3B3;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.1s, color 0.1s;
}

.topnav a.tabs:hover, a.active:hover, a.icon:hover {   /* attributes of .topnav a when hovered */
    background-color: #DDD;
    color: #000000;
}

.topnav .icon {
    display: none;
}

.topnav .logo {
    float: left;
    display: flex;
    background-color: #111;
    width: 100px;
    padding: 14px 16px;
}

#projecttable-container {
    padding-left: 30px;
    padding-right: 30px;
}

#projecttable {
    font-family: "Jost";
    border-collapse: collapse;
    width: 100%;
}

#projecttable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #99FFCC;
    color: #000000;
}

#projecttable tr {
    transition: background-color 0.1s, color 0.1s;
}

#projecttable tr:nth-child(odd) {
    background-color: #DDDDDD;
}

#projecttable tr:hover {
    background-color: #C8B4BA;
}

#challengetable {
    line-height: 18pt;
    padding-left: 20px;
    padding-right: 20px;
}

#challengetable select {
    width: 10%;
}

#challengetable textarea {
    width: 40%;
}

footer {
    overflow: hidden;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: #F2F2F2;
    margin: 0;
    position: absolute bottom;
}

#loginform #btnlogin, #regform #btnreg {
    height: 40px;
    background-color: white;
    border: 1px solid black;
    width: 25%;
    font-size: 16px;
    font-family: Jost, monospace;
    transition: background-color 0.1s, color 0.1s;
}

#loginform #btnlogin:hover, #regform #btnreg:hover {
    cursor: pointer;
    background-color: #333333;
    color: white;
}

#loginform #fieldlogin, #regform #fieldreg, #regform #selectreg {
    height: 30px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: Jost, monospace;
}

#logindiv, #regformdiv {
    padding-left: 30%;
    padding-right: 30%;
}

.row {
    display: flex;
    flex-wrap: wrap;    /* allows wrapping on smaller screens */
}

.col-left {
    text-align: center; /* center the image horizontally */
    padding: 15px;
    width: 40%;
}

.col-right {
    flex: 2;
    padding: 15px;
    width: 60%;
}

#btneditpersonal {
    width: 60%;
    height: 30px;
    font-family: Jost, monospace;
    background-color: white;
    border: 1px solid grey;
    transition: background-color 0.1s, color 0.1s;
}

#btneditpersonal:hover {
    cursor: pointer;
    background-color: #333333;
    color: white;
}

@media screen and (max-width: 720px) {  /* CSS when pages are resized to smaller or for mobile screen */
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    #logindiv, #regformdiv {
        padding-left: 15%;
        padding-right: 15%;
    }

    .row {  /* stack elements vertically on smaller screens */
        flex-direction: column;
        width: 95%;
    }

    [class*="col-"] {   /* reset the flex property to prevent stretching */
        flex: none;
        width: 100%;
    }
}